{% extends 'base.html.twig' %}

{% block content %}


    <!-- banner -->
    <div class="container-fluid col-12">
        <div class="row align-items-center">
            <div class="bg-image-banner">
                <div class="container-fluid align-items-center justify-content-center text-center">
                    <div class="text-white">
                        <h1 class="slogan">HAPPY CLOTHING,<br> HAPPY CHILDHOOD</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Categories -->
    <div class="container-fluid text-center category">
        <div class="row">
            <div class=" mt-5 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                <a>
                    <img src="{{ asset('assets/img/VETEMENTS.webp') }}" style="width:80%" class="Pict" alt=""/>
                </a>
                <div class="text-white">
                    <div class="filter">
                        <h4 class="description">VÊTEMENTS</h4>
                    </div>
                </div>
            </div>
            <div class="mt-5 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                <a>
                    <img src="{{ asset('assets/img/ACCESSOIRES.webp') }}" style="width:80%" class="Pict" alt=""/>
                </a>
                <div class="text-white">
                    <div class="filter">
                        <h4 class="description">ACCESSOIRES</h4>
                    </div>
                </div>

            </div>
            <div class=" mt-5 col-xl-4 col-lg-4 col-sm-12 col-md-6">
                <a>
                    <img src="{{ asset('assets/img/JOUETS.webp') }}" style="width:80%" class="Pict" alt=""/>
                </a>
                <div class="text-white">
                    <div class="filter">
                        <h4 class="description">JOUETS</h4>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- BESTSELLERS -->
    <div class="container-fluid  bestsellers">
        <h3 class="separator text-center">BESTSELLERS</h3>
    </div>

    <div class="container-fluid col-sm-6 col-md-6 col-lg col-xl col-xxl bestproducts">
        <div class="row">
            {% for product in products %}
                <div class="col">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
    <!--deuxième vie-->


    <div class="bg-image-deuxieme">
        <div class="container-fluid <!--box-->">
            <!--
            <div class="boxtext">
                <h6><span>SHOP, SELL & RECYCLE</span></h6>
                <h5><span>DEUXIÈME VIE</span></h5>
                <p><span>Achetez des articles d'occasion vendus à des parents comme vous. En rachetant ces articles, nous pouvons
                            vous garantir la qualité en termes de marques et de style que vous aurez l'habitude de trouver chez
                            Tiny&Pretty.
                        </span></p>
                <a><button type="button" class=" profite">J'EN PROFITE</button></a>
            </div>
            -->

        </div>

    </div>



    <!-- Nouveautes -->
    <div class="container">
        <h3 class="separator text-center">NOUVEAUTÉS</h3>
    </div>

    <div class="container-fluid container-fluid col-sm-6 col-md-6 col-lg col-xl col-xxl bestproducts">
    <div class="row">
        {% for product in productN %}
        {% if product.isNew == true %}
        <div class="col col-sm-6 col-md-6">
            {% include 'product/single_product.html.twig' %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>


  <!-- LE BLOG
    <hr class="blog-divider">
    <div class="container blog">
        <h3 class="separator text-center">THE TINY & PRETTY BLOG</h3>
        <div class="button-blog text-center">
            <a>
                <button type="button" class="btn-blog">TOUT VOIR</button>
            </a>
        </div>
    </div>
    <div class="container-fluid text-center imgblog">
        <div class="row">
            <div class="col-4">
                <img src="{{ asset('assets/img/cremesolaire.webp') }}" style="width:90%" class="" alt=""/>
                <div class="category-blog">
                    <p><span>Lifestyle · Santé ·</span></p>
                </div>
                <div class="title-blog">
                    <p><span>Crème solaire : laquelle choisir ?</span></p>
                </div>
            </div>
            <div class="col-4">
                <img src="{{ asset('assets/img/coupdesoleil.webp') }}" style="width:90%" class="" alt=""/>
                <div class="category-blog">
                    <p><span>Lifestyle · Santé ·</span></p>
                </div>
                <div class="title-blog">
                    <p><span>Les 8 règles d’or pour exposer bébé au soleil.</span></p>
                </div>
            </div>
            <div class="col-4">
                <img src="{{ asset('assets/img/moustique.webp') }}" style="width:90%" class="" alt=""/>
                <div class="category-blog">
                    <p><span>Lifestyle · Santé ·</span></p>
                </div>
                <div class="title-blog">
                    <p><span>Protéger bébé des moustiques : tout ce qu’il faut savoir !</span></p>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--#TINYANDPRETTY-->
    <hr class="share-divider">
    <div class="container-fluid text-center share">
    <div class="col-12">
        <h3 class="separator text-center">#TINYANDPRETTY</h3>
        <h5 class="text-share">Partagez avec nous leurs styles uniques !</h5>
        <div class="reseau justify-between">
            <a href="https://www.facebook.com/TinyandPretty.be" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/tinyandpretty.be" target="_blank"> <i class="fab fa-instagram"></i></a>
                <a><i class="fab fa-pinterest-square"></i></a>
        </div>
    </div>
    </div>
{% endblock %}
