{% extends 'base.html.twig' %}


{# Affichage pour GIRLS#}


{% block title %}A la maison{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion col-md-3 mt-5 " id="accordionEx" role="tablist"
             aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header bg-white" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false"
                       aria-controls="collapseOne1">
                        <h5 class="mb-0 text-black-50">
                            FILTRE <i class="fas fa-angle-down rotate-icon float-right"></i>
                        </h5>
                    </a>
                </div>
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                     data-parent="#accordionEx">
                    <div class="card-body">
        <aside>
            {% include 'product/maison/_filterGirl.html.twig' with {form2: form2} only %}
        </aside>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->
        </div>


        <div class="col-md-9 d-flex flex-wrap">

            {% for product in productsGirl %}
                <div class="col-md-3 ">
                    {% include '/product/single_product.html.twig' with {product: product} only %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>



    {% endblock %}

{#{% block content %}
    <div class="content-layout container-fluid pt-sm-4">
    <div class="row">
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form)}}
        </div>
        <div class="col-md-9">

            <h3> Nos produits </h3>
            <div class="row product-container">
                {% for product in products  %}

                    <div class="col-md-3 col-sm-10 text-center">
                        <div class="product-item ">

                            <a href="{{ path('product', {'slug':product.slug}) }}">
                                <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" style="width:80%">
                                <button type="button" class="btn apercu text-white">APERÇU</button>
                            </a>




                                <div class="descriptionBest">
                                <p><span>{{ product.name }}</p></span>
                                    {% if product.soldout == false %}
                                <p><span class="product-subtitle"> {{ product.subtitle }} </span></p>
                                <p><span class="product-price"> {{ (product.price / 100)|number_format(2,',', '.') }} € </span></p>
                                    {% else %}
                                    <p><span class="product-subtitle"> Victime de son succès </span></p>
                                    {% endif %}
                            </div>
                        </div>
                    <div class="col-md-4">
                       {% include 'product/single_product.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}#}
