{% extends 'base.html.twig' %}



{% block content %}
    <div class="content-layout container-fluid pt-sm-4">
    <div class="row">
        <div class="col-md-2 col-sm-2 form">
            <h3>Filter</h3>
            {{ form(form)}}
        </div>
        <div class="col-md-10 col-sm-10">
            <!-- cette div devra etre remplacee par un bloc description suivant la page ou on se trouve -->
            <div class="category_description text-justify">
                <p>Tiny&Pretty vous présente son choix de vêtements pleine de gaieté
                    et de créativité, de la naissance à 36 mois, destinée aux petites filles.
                    Cette collection de vêtements pour enfants a été pensée avec le plus grand soin,
                    afin d’offrir à bébé et aux petites filles des textiles confortables dans lesquels elles
                    seront parfaitement à l’aise dans tous leurs mouvements.</p>
            </div>
            <div class="row product-container">
                {% for product in products  %}
                    <div class="col-md-3 col-sm-10 text-center">
                        <div class="product-item ">

                            <a href="{{ path('product', {'slug':product.slug}) }}">
                                <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" style="width:80%">
                                <button type="button" class="btn apercu text-white">APERÇU</button>
                            </a>




                                <div class="descriptionBest">
                                <p><span>{{ product.name }}</p></span>
                                <p><span class="product-subtitle"> {{ product.subtitle }} </span></p>
                                <p><span class="product-price"> {{ (product.price / 100)|number_format(2,',', '.') }} € </span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}


    </div>
{% endblock %}
