{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="container-fluid col-md-4 ml-5 mb-5 ml-sm-0">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid zoomimg mt-5 ml-5">
        </div>
        <div class="col-md-7 my-auto aside-description mt-sm-5 mx-sm-auto">
            <p> {{ product.subtitle }}</p>
            <h3>{{  product.name }}</h3>
            <span class="product-page-price"> {{ (product.price / 100)|number_format(2,',', '.') }} € </span>
            <p class="'taxes">Taxes incluses</p>
            <p>
                {{ product.description }}
            </p>
            <p> {{ product.size}}</p>
            <hr class="mx-auto col-md-10 col-lg-10 col-xl-10 pl-0 ml-0">



            {% if product.soldout == false %}
                <button
                        class="btn btn-outline-secondary col-md-10 col-lg-10 col-xl-10 col-sm-12 mt-3 ml-1 mr-1"
                        type="button">
                    <a href="{{ path('add_to_cart', {'id': product.id}) }}" style="color:#000005;">AJOUTER AU PANIER</a>
                </button>
            {% else %}
                <button class="btn btn-outline-secondary col-md-10 col-lg-10 col-xl-10 col-sm-12 mt-3 ml-1 mr-1" style="background-color:#f0cabd;">VICTIME DE SON SUCCÈS</button>
            {% endif %}
            <div id="accordion">
                            <button
                                    class="btn btn-outline-secondary col-md-10 col-lg-10 col-xl-10 col-sm-12 mt-3 ml-1 mr-1"
                                    type="button" data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="false"
                                    aria-controls="collapseOne"
                                    style="color:#000005;">
                                GUIDE DES TAILLES
                            </button>
                    <div id="collapseOne" class="collapse">
                        <table class="table table-bordered table-hover col-md-10 col-lg-10 col-xl-10 col-sm-12 mx-3 my-3">
                            <thead>
                            <tr>
                                <th scope="col">BÉBÉ</th>
                                <th scope="col">Taille</th>
                                <th scope="col">Poids</th>
                            </tr>
                            </thead>
                            <tr>
                                <th scope="row">3 MOIS</th>
                                <td>56-60 cm</td>
                                <td>4-5 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">6 MOIS</th>
                                <td>60-68 cm</td>
                                <td>5-6 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">9 MOIS</th>
                                <td>68-74 cm</td>
                                <td>7-8 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">12 MOIS</th>
                                <td>74 cm</td>
                                <td>9-10 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">18 MOIS</th>
                                <td>80 cm</td>
                                <td>10-11 kg</td>
                            </tr>
                            <tr>
                                <th scope="row">24 MOIS</th>
                                <td>86 cm</td>
                                <td>11-12 kg</td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-hover col-md-10 col-lg-10 col-xl-10 col-sm-12 mx-3 my-3">
                            <thead>
                            <tr>
                                <th scope="col">ENFANT</th>
                                <th scope="col">Taille</th>
                                <th scope="col">Tour de poitrine</th>
                                <th scope="col">Tour de taille</th>
                                <th scope="col">Tour de hanche</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">3 ANS</th>
                                <td>98 cm</td>
                                <td>57 cm</td>
                                <td>53 cm</td>
                                <td>59 cm</td>
                            </tr>
                            <tr>
                                <th scope="row">4 ANS</th>
                                <td>104 cm</td>
                                <td>58 cm</td>
                                <td>54 cm</td>
                                <td>61 cm</td>
                            </tr>
                            <tr>
                                <th scope="row">5 ANS</th>
                                <td>110 cm</td>
                                <td>59 cm</td>
                                <td>54,5 cm</td>
                                <td>62,5 cm</td>
                            </tr>
                            <tr>
                                <th scope="row">6 ANS</th>
                                <td>116 cm</td>
                                <td>60 cm</td>
                                <td>55 cm</td>
                                <td>64 cm</td>
                            </tr>
                            </tbody>
                        </table>

            </div>
         </div>
        </div>
    </div>

    <div class="container-fluid  bestsellers">
        <h3 class="separator text-center">BESTSELLERS</h3>
    </div>

    <div class="container-fluid col-sm-6 col-md-6 col-lg col-xl col-xxl bestproducts">
        <div class="row">
            {% for product in products %}
                <div class="col">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
