<div class="product-item text-center">
    <a href="{{ path('product', {'slug':product.slug}) }}"><img src="/uploads/{{ product.illustration }}"
                                                                alt="{{ product.name }}" class="img-fluid"></a>
    <div class="descriptionBest">
        <p><span>{{ product.name }}</span></p>
        <p><span class="product-subtitle"> {{ product.subtitle }} </span></p>
        <p><span class="product-price"> {{ (product.price / 100)|number_format(2,',', '.') }} € </span></p>
    </div>
</div>