<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" Boutique de vêtements enfants et bébés en ligne">
    <meta name="author" content="Infinity">
    <meta name="generator" content="Jekyll v4.1.1">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/favicon/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/android-chrome-512x512.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '562460884952867');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=562460884952867&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
    <title>{% block title %}Tiny & Pretty{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
 <!-- <link href="{{ asset('assets/css/all.css') }}" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ asset('assets/css/boutique.css') }}">

    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.2.1.slim.min.js">

    {% block javascript %}
    {% endblock %}

</head>
<body>
{% include 'header.html.twig' %}

<main role="main">

    {% block content %}
    {% endblock %}


    <!-- FOOTER -->
    <hr>
    <footer class="footer-custom mt-3">


        <div class="container-fluid ">
            <div class="row justify-content-between">
                <div class="logo-img  col-md  col-sm-12 col-xs-12 my-auto">
                    <img src="{{ asset('assets/img/Tiny x Pretty - OFFICIAL LOGO .webp') }}" alt="Logo Tiny And Pretty"
                         class="img-fluid"/>
                </div>
                <div class="col-md col-sm-3 ml-3">

                    <ul>
                        <li class="list-footer"><h6>Tiny&Pretty</h6></li>
                        <li class="list-footer"><a href="{{ path('qui_sommes_nous') }}">Qui sommes-nous ?</a></li>
                        <li class="list-footer"><a href="">The Tiny & Pretty blog</a></li>
                        <li class="list-footer"><a href="{{ path('conditions_generales') }}">CGV</a></li>
                    </ul>
                </div>
                <div class="col-md  col-sm-3 ml-4">
                    <ul>
                        <li class="list-footer"><h6>Commandes</h6></li>
                        <li class="list-footer"><a href="">Suivi de commande</a></li>
                        <li class="list-footer"><a href="{{ path('livraisons_et_retours') }}">Livraisons & retours</a></li>
                        <li class="list-footer"><a href="{{ path('paiement_securise') }}">Paiement sécurisé</a></li>
                    </ul>
                </div>
                <div class="col-md  col-sm-3 ml-3">
                    <ul>
                        <li class="list-footer"><h6>Services</h6></li>
                        <li class="list-footer"><a href="">Devenir partenaire</a></li>
                        <li class="list-footer"><a href="">Cartes cadeaux</a></li>
                        <li class="list-footer"><a href="{{ path('cookie') }}">Cookies</a></li>
                    </ul>
                </div>
                <div class="col-md  col-sm-3 ml-3">
                    <ul>
                        <li class="list-footer"><h6>Besoin d'aide ?</h6></li>
                        <li class="list-footer"><a href="">Guide des tailles</a></li>
                        <li class="list-footer"><a href="{{ path('faq') }}">Foire aux questions</a></li>
                        <li class="list-footer"><a href="">Contactez-nous</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center mx-auto cards-icon">


            <img src="{{ asset('assets/img/bancontact.webp') }}" alt="Bancontact" class="cards-icon">
            <img src="{{ asset('assets/img/maestro.webp') }}" alt="Maestro" class="cards-icon">
            <img src="{{ asset('assets/img/mastercard.webp') }}" alt="Mastercard" class="cards-icon">
            <img src="{{ asset('assets/img/paypal.webp') }}" alt="Paypal" class="cards-icon">
            <img src="{{ asset('assets/img/visa.webp') }}" alt="Visa" class="cards-icon">
            <img src="{{ asset('assets/img/applepay.webp') }}" alt=" Apple Pay" class="cards-icon">

        </div>
        <!-- Copyright -->
        <div class="text-center p-4" >
            <p>© 2021 Copyright:  <a class="text-reset" href="#">Infinity</a></p>

        </div>
        <!-- Copyright -->

        <!-- FOOTER -->

    </footer>

</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset ('assets/js/bootstrap.bundle.js') }}"></script>
<script src="{{ asset ('assets/js/all.js') }}"></script>
<script src="{{ asset ('assets/js/script.js') }}"></script>
</body>

{% block script %}
{% endblock %}

</html>
