<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" Boutique de vêtements enfants et bébés en ligne">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/favicon/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}Tiny & Pretty{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/all.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/boutique.css') }}">

    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.2.1.slim.min.js">

    {% block javascript %}
    {% endblock %}

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand flex-grow-1" href="{{ path('home') }}">
            <img src="{{ asset('assets/img/logo.webp') }}" alt="Logo Tiny And Pretty" class="logo-img"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown px-3" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BÉBÉ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-boundary="overflow">
                        <div class="d-flex  flex-row p-2">
                            <div class="p-2 bd-highlight">
                                <h5>VÊTEMENTS</h5>
                                <hr>

                                <a class="dropdown-item" href="#">t-shirt x sous-pull</a>
                                <a class="dropdown-item" href="#">manteau x veste</a>
                                <a class="dropdown-item" href="#">blouse x chemise</a>
                                <a class="dropdown-item" href="#">pull x gilet </a>
                                <a class="dropdown-item" href="{{ relative_path('nos-produits?fille=robe') }}">robe x jupe</a>
                                <a class="dropdown-item" href="#">pantalon x short</a>
                                <a class="dropdown-item" href="#">salopette x combinaison</a>
                            </div>

                            <div class="p-2 bd-highlight">
                                <h5>ACCESSOIRES</h5>
                                <hr>
                                <a class="dropdown-item" href="#">bonnet x écharpe</a>
                                <a class="dropdown-item" href="#">gants x moufles</a>
                                <a class="dropdown-item" href="#">maillot de bain</a>
                                <a class="dropdown-item" href="#">cape de bain</a>
                                <a class="dropdown-item" href="#">bavoir</a>
                                <a class="dropdown-item" href="#">accessoires cheveux</a>
                            </div>


                            <div class="p-2 bd-highlight">
                                <h5>NUIT X SOUS-VÊTEMENTS</h5>
                                <hr>

                                <a class="dropdown-item" href="#">peluche x doudou</a>
                                <a class="dropdown-item" href="#">body</a>
                                <a class="dropdown-item" href="#">pyjama</a>
                                <a class="dropdown-item" href="#">gigoteuse</a>
                                <a class="dropdown-item" href="#">nid d'ange</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown px-3" href="#" id="navbarDropdown"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    FILLES
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="d-flex  flex-row p-2">
                                        <div class="p-2 bd-highlight">
                                            <h5>VÊTEMENTS</h5>

                                            <a class="dropdown-item" href="#">top x t-shirt</a>
                                            <a class="dropdown-item" href="#">chemise x blouse</a>
                                            <a class="dropdown-item" href="#">pull x gilet</a>
                                            <a class="dropdown-item" href="#">robe x jupe</a>
                                            <a class="dropdown-item" href="#">pantalon x jeans</a>
                                            <a class="dropdown-item" href="#">short</a>
                                            <a class="dropdown-item" href="#">salopette x combinaison</a>
                                            <a class="dropdown-item" href="#">manteau x veste</a>
                                        </div>

                                        <div class="p-2 bd-highlight">
                                            <h5>ACCESSOIRES</h5>
                                            <a class="dropdown-item" href="#">bonnet x chapeau</a>
                                            <a class="dropdown-item" href="#">écharpe x foulard</a>
                                            <a class="dropdown-item" href="#">gants x moufles</a>
                                            <a class="dropdown-item" href="#">maillot de bain</a>
                                            <a class="dropdown-item" href="#">accessoires de plage</a>
                                            <a class="dropdown-item" href="#">accessoires cheveux</a>
                                        </div>


                                        <div class="p-2 bd-highlight">
                                            <h5>NUIT X SOUS-VÊTEMENTS</h5>

                                            <a class="dropdown-item" href="#">sous-vêtements</a>
                                            <a class="dropdown-item" href="#">pyjama</a>
                                            <a class="dropdown-item" href="#">surpyjama</a>
                                            <a class="dropdown-item" href="#">cape x peignoir</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown px-3" href="#"
                                               id="navbarDropdown" role="button" data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                                GARÇON
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <div class="d-flex  flex-row p-2">
                                                    <div class="p-2 bd-highlight">
                                                        <h5>VÊTEMENTS</h5>

                                                        <a class="dropdown-item" href="#">t-shirt x polo</a>
                                                        <a class="dropdown-item" href="#">chemise</a>
                                                        <a class="dropdown-item" href="#">pull x gilet </a>
                                                        <a class="dropdown-item" href="#">pantalon x jeans</a>
                                                        <a class="dropdown-item" href="#">short</a>
                                                        <a class="dropdown-item" href="#">salopette x combinaison</a>
                                                        <a class="dropdown-item" href="#">manteau x veste</a>
                                                    </div>

                                                    <div class="p-2 bd-highlight">
                                                        <h5>ACCESSOIRES</h5>
                                                        <a class="dropdown-item" href="#">bonnet x chapeau</a>
                                                        <a class="dropdown-item" href="#">écharpe x foulard</a>
                                                        <a class="dropdown-item" href="#">gants x moufles</a>
                                                        <a class="dropdown-item" href="#">accessoires de plage</a>
                                                        <a class="dropdown-item" href="#">cravate x noeud papillon</a>
                                                    </div>


                                                    <div class="p-2 bd-highlight">
                                                        <h5>NUIT X SOUS-VÊTEMENTS</h5>

                                                        <a class="dropdown-item" href="#">sous-vêtements</a>
                                                        <a class="dropdown-item" href="#">pyjama</a>
                                                        <a class="dropdown-item" href="#">surpyjama</a>
                                                        <a class="dropdown-item" href="#">cape x peignoir</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link px-3" href="">JOUET</a>
                                        </li>

                                        <li class="nav-item ">
                                            <a class="nav-link px-3" href="{{ path('deuxieme_vie') }}">DEUXIÈME VIE</a>
                                        </li>
                                        <li>
                                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                <ul class="navbar-nav mr-auto">
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown px-3" href="{{ path('concept') }}"
                                                           id="navbarDropdown" role="button" data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false">CONCEPT</a>
                                                        <ul class="dropdown-menu little-drop" aria-labelledby="dropdownMenuLink">
                                                            <li><a class="dropdown-item" href="{{ path('ateliers') }}">Nos
                                                                    ateliers</a></li>
                                                            <li><a class="dropdown-item"
                                                                   href="{{ path('partenaires') }}">Nos partenaires</a>
                                                            </li>
                                                        </ul>

                                                    </li>

                                                    <li class="nav-item">
                                                        <a class="nav-link px-3" href="{{ path('tinyworld') }}">TINY
                                                            WORLD</a>
                                                    </li>


                                                <div class="navbar-item-custom icon-nav pl-5 text-sm-center pl-sm-0 float-sm-right">
                                                    {% if app.user %}
                                                        <li class="nav-item ">
                                                        <a class="nav-link px-3" href="{{ path('account') }}"style="color:#a9bf7a;" ><i
                                                                    class="far fa-user-circle"></i>{{ app.user.firstname }}
                                                        </a>
                                                        <a class="nav-link px-3" href="{{ path('cart') }}" >
                                                            <i class="fas fa-shopping-bag"></i>
                                                        </a>
                                                        <a class="nav-link px-3" href="" ><i class="far fa-heart"></i></a>
                                                        <a  class="nav-link px-3"href=""><i class="fas fa-search"></i></a>
                                                        <a class="nav-link px-3" href="{{ path('app_logout') }}"><i
                                                                    class="fas fa-sign-out-alt"></i></a>
                                                        </li>
                                                    {% else %}
                                                    <li>
                                                        <a class="nav-link px-3" href="{{ path('app_login') }}"><i
                                                                    class="far fa-user-circle"></i></a>
                                                        <a href="" class="nav-link px-3 "><i class="far fa-heart"></i></a>
                                                        <a href="" class="nav-link px-3 "><i class="fas fa-search"></i></a>
                                                        <a href="{{ path('register') }}" class="nav-link px-3"><i
                                                                    class="fas fa-sign-in-alt"></i></a>
                                                        <a href="{{ path('cart') }}" class="nav-link px-3">
                                                            <i class="fas fa-shopping-bag"></i>
                                                        </a>
                                                    </li>
                                                    {% endif %}


                                                </div>
                                                </ul>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</header>

<main role="main">

{% block content %}
{% endblock %}



    <!-- FOOTER -->
    <hr>
    <footer class="footer-custom">



        <div class="container-fluid d-flex  justify-content-between">
            <img src="{{ asset('assets/img/logo.png')}}" alt="Logo Tiny And Pretty" class="logo-img col-2"/>
            <div class="col-lg-9 d-flex justify-content-between">
                <div>
                <ul>
                    <li>Tiny&Pretty</li>
                    <li><a href="">Qui sommes-nous ?</a></li>
                    <li><a href="">The tiny & pretty blog</a></li>
                    <li><a href="">CGV</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Commandes</li>
                    <li><a href="">Suivi de commande</a></li>
                    <li><a href="">Livraisons & retours</a></li>
                    <li><a href="">Paiement sécurisé</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Services</li>
                    <li><a href="">Devenir partenaire</a></li>
                    <li><a href="">Cartes cadeaux</a></li>
                    <li><a href="">Cookies</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Besoin d'aide ?</li>
                    <li><a href="">Guide des tailles</a></li>
                    <li><a href="">Foire aux questions</a></li>
                    <li><a href="">Contactez-nous</a></li>
                </ul>
            </div>
            </div>
        </div>
            <div class="col-12 d-flex justify-content-center cards-icon">
                <img src="{{ asset('assets/img/amex.png')}}" alt="americain express" class="cards-icon">
                <img src="{{ asset('assets/img/applepay.png')}}" alt=" Apple Pay" class="cards-icon">
                <img src="{{ asset('assets/img/bancontact.png')}}" alt="Bancontact" class="cards-icon">
                <img src="{{ asset('assets/img/amex.png')}}" alt="" class="cards-icon">
                <img src="{{ asset('assets/img/maestro.png')}}" alt="Maestro" class="cards-icon">
                <img src="{{ asset('assets/img/mastercard.png')}}" alt="Mastercard" class="cards-icon">
                <img src="{{ asset('assets/img/paypal.png')}}" alt="Paypal" class="cards-icon">
                <img src="{{ asset('assets/img/visa.png')}}" alt="Visa" class="cards-icon">

            </div>

    <!-- FOOTER -->

    </footer>

</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset ('assets/js/bootstrap.bundle.js') }}"></script>
<script src="{{ asset ('assets/js/all.js') }}"></script>
<script src="{{ asset ('assets/js/script.js') }}"></script>
</body>

{% block script %}
{% endblock %}

</html>
