<header>

    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-light bg-light justify-content-between static-top">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('assets/img/Tiny x Pretty - OFFICIAL LOGO .webp') }}" alt="Logo Tiny And Pretty"
                 class="logo-img-header img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto ms-auto  mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link inactive dropdown px-3" href="" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BÉBÉ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-boundary="overflow">
                        <a href="{{ relative_path('/baby') }}"><h3 class="ml-5 mt-5 mb-5">BÉBÉ</h3></a>
                        <div class="d-flex  flex-row p-2">

                            <div class="p-2 bd-highlight">

                                <h4 class="categories-nav">VÊTEMENTS</h4>


                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=t-shirt') }}">t-shirt x
                                    sous-pull</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=manteau') }}">manteau x
                                    veste</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=blouse') }}">blouse x
                                    chemise</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=pull') }}">pull x gilet </a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=robe') }}">robe x jupe</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=pantalon') }}">pantalon x
                                    short</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=salopette') }}">salopette x
                                    combinaison</a>
                            </div>

                            <div class="p-2 bd-highlight">
                                <h4 class="categories-nav">ACCESSOIRES</h4>

                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=bonnet') }}">bonnet x
                                    écharpe</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=gants') }}">gants x
                                    moufles</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=maillot') }}">maillot de
                                    bain</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=cape') }}">cape de bain</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=bavoir') }}">bavoir</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=accessoires') }}">accessoires
                                    cheveux</a>
                            </div>


                            <div class="p-2 bd-highlight">
                                <h4 class="categories-nav">NUIT X SOUS-VÊTEMENTS</h4>


                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=peluche') }}">peluche x
                                    doudou</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=body') }}">body</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=pyjama') }}">pyjama</a>
                                <a class="dropdown-item"
                                   href="{{ relative_path('/baby?bebe=gigoteuse') }}">gigoteuse</a>
                                <a class="dropdown-item" href="{{ relative_path('/baby?bebe=nid') }}">nid d'ange</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link inactive dropdown px-3" href="" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FILLE
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="{{ relative_path('/girl') }}"><h3 class="ml-5 mt-5 mb-5">FILLE</h3></a>
                                <div class="d-flex  flex-row p-2">
                                    <div class="p-2 bd-highlight">
                                        <h4 class="categories-nav">VÊTEMENTS</h4>

                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=top') }}">top x
                                            t-shirt</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=chemise') }}">chemise
                                            x blouse</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=pull') }}">pull x
                                            gilet</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=robe') }}">robe x
                                            jupe</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=pantalon') }}">pantalon
                                            x jeans</a>
                                        <a class="dropdown-item"
                                           href="{{ relative_path('/girl?fille=short') }}">short</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=salopette') }}">salopette
                                            x combinaison</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=manteau') }}">manteau
                                            x veste</a>
                                    </div>

                                    <div class="p-2 bd-highlight">
                                        <h4 class="categories-nav">ACCESSOIRES</h4>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=bonnet') }}">bonnet
                                            x chapeau</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=foulard') }}">écharpe
                                            x foulard</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=gants') }}">gants x
                                            moufles</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=maillot') }}">maillot
                                            de bain</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=accessoires') }}">accessoires
                                            de plage</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=cheveux') }}">accessoires
                                            cheveux</a>
                                    </div>


                                    <div class="p-2 bd-highlight">
                                        <h4 class="categories-nav">NUIT X SOUS-VÊTEMENTS</h4>

                                        <a class="dropdown-item"
                                           href="{{ relative_path('/girl?fille=sous-vêtements') }}">sous-vêtements</a>
                                        <a class="dropdown-item"
                                           href="{{ relative_path('/girl?fille=pyjama') }}">pyjama</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=surpyjama') }}">surpyjama</a>
                                        <a class="dropdown-item" href="{{ relative_path('/girl?fille=cape') }}">cape x
                                            peignoir</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link inactive dropdown px-3" href=""
                                           id="navbarDropdown" role="button" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            GARÇON
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a href="{{ relative_path('/boy') }}"><h3 class="ml-5 mt-5 mb-5">GARÇON</h3>
                                            </a>
                                            <div class="d-flex  flex-row p-2">
                                                <div class="p-2 bd-highlight">
                                                    <h4 class="categories-nav">VÊTEMENTS</h4>

                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=t-shirt') }}">t-shirt x
                                                        polo</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=chemise') }}">chemise</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=pull') }}">pull x gilet </a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=pantalon') }}">pantalon x
                                                        jeans</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=short') }}">short</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=salopette') }}">salopette x
                                                        combinaison</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=manteau') }}">manteau x
                                                        veste</a>
                                                </div>

                                                <div class="p-2 bd-highlight">
                                                    <h4 class="categories-nav">ACCESSOIRES</h4>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=bonnet') }}">bonnet x
                                                        chapeau</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=foulard') }}">écharpe x
                                                        foulard</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=gants') }}">gants x
                                                        moufles</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=accessoires') }}">accessoires
                                                        de plage</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=cravate') }}">cravate x noeud
                                                        papillon</a>
                                                </div>


                                                <div class="p-2 bd-highlight">
                                                    <h4 class="categories-nav">NUIT X SOUS-VÊTEMENTS</h4>

                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=sous-vêtements') }}">sous-vêtements</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=pyjama') }}">pyjama</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=surpyjama') }}">surpyjama</a>
                                                    <a class="dropdown-item"
                                                       href="{{ relative_path('/boy?garcon=cape') }}">cape x
                                                        peignoir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3" href="{{ path('comingsoon') }}">JOUET</a>
                                    </li>
                                    <!--
                                    <li class="nav-item ">
                                        <a class="nav-link px-3" href="{{ path('deuxieme_vie') }}">DEUXIÈME VIE</a>
                                    </li>
                                    -->
                                    <li>

                                        <ul class="navbar-nav mr-auto ">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown px-3" href="{{ path('concept') }}"
                                                   id="navbarDropdown" role="button" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">CONCEPT</a>
                                                <ul class="dropdown-menu little-drop"
                                                    aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" href="{{ path('ateliers') }}">Nos
                                                            ateliers</a></li>
                                                    <li><a class="dropdown-item"
                                                           href="{{ path('partenaires') }}">Nos partenaires</a>
                                                    </li>
                                                </ul>

                                            </li>
                                        </ul>
                                    </li>
<!--
                                    <li class="nav-item">
                                        <a class="nav-link px-3" href="{{ path('tinyworld') }}">TINY
                                            WORLD</a>
                                    </li>
-->

                                    {% if app.user %}
                                    <div class="nav-icones ">
                                        <li class="nav-item ml-5">
                                            <a class="nav-link px-4" href="{{ path('account') }}">
                                                <img class="icones-nav" src="{{ asset('assets/img/user.svg') }}">
                                                <p class="float-right">{{ app.user.firstname }}</p>
                                            </a>
                                            <a class="nav-link px-4" href="{{ path('cart') }}">
                                                <div class="bag-count">
                                                    <img class="icones-nav" src="{{ asset('assets/img/bag.svg') }}">


                                                    <div class="cercle-bag float-right text-center align-items-center">
                                                        <p class="content-bag"></p>
                                                    </div>

                                                </div>
                                            </a>
                                            <a class="nav-link px-4" href="">
                                                <img class="icones-nav" src="{{ asset('assets/img/heart.svg') }}">
                                            </a>

                                            <a class="nav-link px-4" href="{{ path('app_logout') }}">
                                                <img class="icones-nav" src="{{ asset('assets/img/logout.svg') }}">
                                            </a>
                                        </li>
                                        {% else %}
                                            <li class="nav-item">
                                                <a class="nav-link px-4 pl-5" href="{{ path('app_login') }}">
                                                    <img class="icones-nav" src="{{ asset('assets/img/user.svg') }}">
                                                </a>
                                                <a href="" class="nav-link px-4 ">
                                                    <img class="icones-nav" src="{{ asset('assets/img/heart.svg') }}">
                                                </a>


                                                <a href="{{ path('cart') }}" class="nav-link px-4">
                                                    <img class="icones-nav" src="{{ asset('assets/img/bag.svg') }}">
                                                </a>
                                            </li>
                                        {% endif %}

                                    </div>


                            </div>
                        </li>
                    </ul>

                </li>

            </ul>
        </div>
    </nav>

</header>
